---
layout: default
---

<ul class="cards">

  <li>
    <div class="card">
      <div class="card-block">
        <img class="card-img-right" src="/assets/images/badge-logo-2018.png">
        <h4 class="card-title">Fri3d Badge</h4>
        <h5 class="card-subtitle">Wij zijn Team Badge</h5>
        <p class="card-text">

          Voor, tijdens en na <b>Fri3d Camp</b> zorgt Team Badge voor de
          <strong>coördinatie</strong> van alle aspecten mbt. de enige
          echte Fri3d Camp Badge: we zorgen voor het concept, design,
          prototype, de aankopen, assemblage, software, documentatie,
          verdeling... Maar op kamp richten we ook verschillende
          <strong>workshops</strong> in en bemannen de <strong>Badge
          Bar</strong>, waar je terecht kan met al je vragen en hopelijk
          niet te veel brokken.

        </p>

        <p>

          Op deze website verzamelen we alle <strong>informatie</strong>
          die je kan helpen om aan de slag te gaan met de badge: hoe je ze
          standaard kan gebruiken, maar ook hoe je er zelf nog <strong>meer
          mee kan doen</strong>.

        </p>

        <p>

          Want wij zijn niet alleen Team Badge, ook <strong>jij bent Team
          Badge</strong>. De Fri3d Camp Badge is in eerste plaats bedoeld
          als een basis om van te <strong>leren</strong>, en vervolgens
          <strong>verder op te bouwen</strong>.<br> Heb je een leuk idee,
          bvb. voor een <strong>workshop</strong> met of <strong>andere
          toepassing</strong> van de badge voor, tijdens of na Fri3d Camp,
          laat het ons weten en we proberen je te helpen om jouw plan te
          realiseren.

        </p>

      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Volg Team Badge</h4>
        <h5 class="card-subtitle">Blijf op de hoogte over de <i>Fri3d Badge</i></h5>

        <p class="card-text">

          <strong>Vanaf vandaag</strong> brengen we de Fri3d Camp Badge
          naar buiten. Het tweede prototype is zo goed als klaar en wordt
          weldra gebouwd om de finale testen te doen. Daarna beginnen we
          aan de effectieve productie. <strong>Elke fase</strong> kan je
          vanaf nu volgen tot op het moment dat je jouw badge in handen
          krijgt op Fri3d Camp 2018.

        </p>

        <p class="card-text">

          We hebben grootse plannen met de badge, maar er kunnen er altijd
          nog meer bij. Het huidige team is voorlopig nog klein, maar daar
          kan <strong>jij</strong> verandering in brengen. Heb je zin om
          mee te werken aan dit deel van Fri3d Camp? Laat het ons weten. We
          kunnen nog veel handen en hoofden gebruiken om alles tot een goed
          einde te brengen.

        </p>

        <p class="card-text">

          Volg daarom <a
          href="http://www.twitter.com/Fri3dBadge">@Fri3dBadge op
          Twitter</a> en blijf op de hoogte van de realisatie van de
          <strong>Fri3d Badge</strong>, maar ook over mogelijkheden die je
          zelf kan gebruiken om te leren en/of nieuwe dingen te realiseren.

        </p>

        <center>
          <a href="http://www.twitter.com/Fri3dBadge" class="btn btn-primary btn-lg" style="margin: 10px;">
            Volg @Fri3dBadge
            <img class="svg btn-icon" src="/assets/images/icons/twitter.svg">
          </a>
          
          <a href="mailto:badge@fri3d.be" class="btn btn-primary btn-lg" style="margin: 10px;">
            Mail badge@fri3d.be
            <img class="svg btn-icon" src="/assets/images/icons/send.svg">
          </a>              
        </center>

      </div>
    </div>
  </li>

  {% for post in site.posts %}
  {% include card.html %}
  {% endfor %}

</ul>
