<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fri3d Content Site">
    <meta name="author" content="">
    <link rel="icon" href="/assets/favicon.ico">

    <meta property="og:url"         content="http://badge.fri3d.be" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="Home of the Fri3d Camp Badge(s)" />
    <meta property="og:description" content="Fri3d Camp is een gezinsvriendelijk zomerkamp voor hackers, makers en DIY'ers, mét een badge ;-)" />
    <meta property="og:image"       content="http://badge.fri3d.be/assets/images/fri3d-badge-2018-v2.png" />

    <meta property="fb:app_id"      content="543312395742355" />

    <meta name="twitter:image:src"  content="http://badge.fri3d.be/assets/images/fri3d-badge-2018-v2.png"/>
    <meta name="twitter:card"       content="summary_large_image">

    <title>Fri3d Camp 2018 - Team Badge</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Ubuntu+Mono|Roboto" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link rel="stylesheet" href="/assets/css/fri3d.css">
	<link rel="stylesheet" href="/assets/css/cards.css">
	<link rel="stylesheet" href="/assets/css/site.css">
  </head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="logo-header">
            <a class="navbar-brand" href="/"><img class="logo" height="80%" src='/assets/images/minibrand.svg' alt='Fri3d Camp'/></a>
            <a class="navbar-brand" href="/">Fri3d Camp 2018<br>
              <span class="subtitle">Team Badge</span>
            </a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://twitter.com/Fri3dBadge">@Fri3dBadge</a></li>
            <li><a href="http://fri3d.be">www.fri3d.be</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/js/vendor/ie10-viewport-bug-workaround.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="/assets/js/vendor/notify.min.js"></script>
    <script src="/assets/js/notifications.js"></script>

    <script src="/assets/js/svg.js"></script>

</body>
</html>
